/* src/style.css */
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-800 overflow-x-hidden leading-relaxed;
}

/* Custom Animation for Sections */
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlideUp {
  animation: fadeInSlideUp 0.8s ease-out forwards;
}

/* Custom Animation for Hero Section */
@keyframes heroFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-heroFadeIn {
  animation: heroFadeIn 1s ease-out forwards;
}